<!DOCTYPE HTML>
<!--
	Fractal by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    <title>
        <%= title %>
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="./js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="./stylesheets/css/main.css" />
    <link rel="stylesheet" href="./stylesheets/css/luxbar.min.css">
    <!--[if lte IE 8]><link rel="stylesheet" href="./css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="./css/ie9.css" /><![endif]-->

    <script src="./js/jquery.min.js"></script>
    <script src="./js/jquery.scrolly.min.js"></script>
    <script src="./js/skel.min.js"></script>
    <script src="./js/util.js"></script>
    <!--[if lte IE 8]><script src="./js/ie/respond.min.js"></script><![endif]-->
    <script src="./js/main.js"></script>
</head>

<body>
    <header id="luxbar" class="luxbar-fixed">
        <input type="checkbox" id="luxbar-checkbox" class="luxbar-checkbox"/>
        <div class="luxbar-menu luxbar-menu-right luxbar-menu-material-indigo">
            <ul class="luxbar-navigation">
                <li class="luxbar-header">
                    <a href="#" class="luxbar-brand">Identity</a>
                    <label class="luxbar-hamburger luxbar-hamburger-doublespin" 
                    id="luxbar-hamburger" for="luxbar-checkbox"> <span></span> </label>
                </li>
                <li class="luxbar-item"><a href="showMyPage">マイページ</a></li>
                <li class="luxbar-item"><a href="logout">ログアウト</a></li>
            </ul>
        </div>
    </header>
</body>

</html>